.CarouselComponent{
    width: 100vw;
    height: max-content;
    font-family: System;
    font-size: medium;
    color: sandybrown;
}
.d-block{
width: 100vw;
height: 90vh;
margin: auto;
}
@media only screen and(max-width:700px) {
  
    .csS{
    height: 70vh;
    }
}