.Jumbotronbar{
    color:  sandybrown;
    width: 100vw;
    height: 8vh;
 


}
.Jumbotronbar ul{
    display: flex;
    padding-top: 1rem;
    font-size: smaller;
    list-style-type: none;
}
.Jumbotronbar ul li{
    margin: auto;
}