.Topbar{
    display: flex;
    height: 17vh;
    text-align: center;
    padding-bottom: 5rem;
}
.Topbar-center{
    padding-top: 2rem;
}
.form-search{
    margin-top: 20%;
}
.ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 0;
    color: black;
}
.ul li{
    margin: 6px;
    color: sandybrown;
}
.Topbar-search{
    outline: none;
    border-bottom: none;
    border-right: none;
    border-top: none ;
    border-left: none;
    border-radius: 3px;
}
.js-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    position: absolute;
    text-shadow: 1px 1px 2px rgb(94, 47, 5);
    color: sandybrown;
    right: 50%;
    
}